# Terraform
**/infra/terraform/.terraform/
**/infra/terraform/.terraform*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Java / Maven / Gradle
target/
build/
.gradle/
*.class
*.jar
*.war
*.ear

# Logs
*.log
hs_err_pid*
replay_pid*

# IDEs & Editores
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.ctxt

# Variaveis de Ambiente e Chaves
.env
*.pem
*.key

# Pacotes / Compactados
*.zip
*.tar.gz
*.rar

# Node / Frontend (se houver)
node_modules/
dist/